@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600 );
.publicspace {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  font-family: 'Source Code Pro', Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 1.4 !important;
  letter-spacing: 0 !important;
  color: #fff !important;
  line-height: 1 !important;
  text-decoration: none !important;
  outline: 0 !important;
}
.publicspace-indicator {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9878;
  display: block;
  width: 3em;
  height: 1em;
  margin: 0 2em 2em 0;
  padding: 1em 0;
  text-align: center;
  vertical-align: text-top;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.publicspace-indicator:hover,
.publicspace-indicator:focus,
.publicspace-indicator:active {
  text-decoration: none !important;
}
.publicspace-indicator::before {
  content: ' ';
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  background: #000000;
  border-radius: 50%;
}
.publicspace-indicator::after {
  content: '\2022';
  position: absolute;
  left: -12px;
  right: -12px;
  top: 50%;
  height: 1em;
  margin: -0.5em 0 0 0;
  text-align: left !important;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}
.publicspace-indicator.active {
  right: 50%;
  bottom: 50%;
  width: 24em;
  height: 1em;
  margin: 0 -12em -12em 0;
  padding: 11.5em 0;
}
.publicspace-indicator .publicspace-h2 {
  display: none;
}
.publicspace-indicator em {
  font-style: normal;
}
.publicspace-indicator.active .publicspace-h1 {
  display: none;
}
.publicspace-indicator.active .publicspace-h2 {
  display: block;
}
.publicspace-node {
  position: fixed;
  z-index: 9877;
  width: 6em;
  height: 6em;
  margin: -3em 0 0 -3em;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: shrink 60s linear forwards;
  animation: shrink 60s linear forwards;
  pointer-events: none;
}
.publicspace-node::before {
  content: ' ';
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 3;
  background: #000000;
  border-radius: 50%;
}
.publicspace-node::after {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 1;
  display: block;
  height: 2px;
  width: 65%;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.publicspace-node .publicspace-flag {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin: 0 0 45% 45%;
  font-size: 50% !important;
  font-weight: 500 !important;
}
.publicspace-node .publicspace-flag span {
  float: left;
  clear: left;
  padding: 0.25em 0.5em;
  color: #000000 !important;
  background: #fff;
}
.publicspace-node .publicspace-flag .publicspace-hostname {
  margin-top: -0.25em;
}
@-webkit-keyframes shrink {
  98% {
    width: 4px;
    height: 4px;
    margin: 0;
    opacity: 1;
  }
  100% {
    height: 4px;
    width: 4px;
    opacity: 0;
  }
}
@keyframes shrink {
  98% {
    width: 4px;
    height: 4px;
    margin: 0;
    opacity: 1;
  }
  100% {
    height: 4px;
    width: 4px;
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
    -ms-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
